{
  "presets": [
    "@babel/preset-env",
    [
      "@babel/preset-react", {
        "runtime": "automatic"
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        "@babel/plugin-transform-runtime",
        "babel-plugin-styled-components",
        "react-refresh/babel"
      ]
    }
  }
}