{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "env": {
    "development": {
      "plugins": [
        ["@babel/plugin-transform-runtime"],
        ["react-css-modules", { "generateScopedName": "[name]__[local]"}],
        "react-refresh/babel"
      ]
    },
    "production": {
      "plugins": [
        ["@babel/plugin-transform-runtime"],
        ["react-css-modules"]
      ]
    }
  }
}