{
  "presets": [
    ["@babel/preset-env", { "modules": false }],
    "@babel/preset-react"
  ],
  "env": {
    "development": {
      "plugins": [
        ["react-css-modules", { "generateScopedName": "[name]__[local]"}],
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "plugins": [
        ["react-css-modules", { "generateScopedName": "[hash:base64:6]"}]
      ]
    }
  }
}