.default {
    font-family: 'Open Sans', sans-serif;

    background-color: #f2625a;
    transition: all 0.3s;
    text-align: center;
    color: #fff;
    padding: 7px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    float: right;
}

.default:not(.disabled):hover {
    background-color: #dd483f;
    cursor: pointer;
}

.disabled {
    background-color: #c3c3c3;
}