.container {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

@media only screen and (min-width: 48em) {
    .container {
        width: 590px;
    }
}

.input-container {
    padding: 4px 4px 0;
}

.error-message-container {
    float: left;
    margin: 22px 2px 0;
}

.button-container {
    overflow: hidden;
    position: relative;
}

.flip-sentence-spinner-wrapper {
    margin: 8px 15px 0;

    position: absolute;
    right: 0;
}

.flip-button-wrapper {
    margin: 12px 0 0;
}

.flipped-sentence-wrapper-outer {
    height: 0;
    overflow: hidden;
}

.flipped-sentence-wrapper-outer.visible {
    height: auto;
}

.flipped-sentence-wrapper-inner {
    transition: transform 0.25s ease-in-out;
    transform: translateY(-25%);
}

.flipped-sentence-wrapper-outer.visible .flipped-sentence-wrapper-inner {
    transform: initial;
    margin: 16px 0 0;
}

@media only screen and (min-width: 48em) {
    .flipped-sentence-wrapper-outer.visible .flipped-sentence-wrapper-inner {
        margin: 22px 0 0;
    }
}


.last-sentences-wrapper {
    position: relative;
}

.loader-wrapper {
    position: absolute;
    left: 50%;
    margin: -9px 0;
    transform: translate(-50%, -65%) scale(0.7);
}

@media only screen and (min-width: 48em) {
    .loader-wrapper {
        transform: translate(-50%, -65%) scale(1);
    }
}