.container {
    margin: 0 auto;
    width: 100%;
    padding: 0 4px;
    text-align: center;
}

@media only screen and (min-width: 48em) {
    .container {
        width: 800px;
    }
}

.button-container {
    overflow: hidden;
}

.error-message {
    color: #ff0000;
    float: left;
    margin: 22px 2px 0;
    font-size: 0.9rem;
}