.container {
    margin: 8px auto 0;

    font-family: 'Lato', sans-serif;
    transition-duration: 0.3s;
    opacity: 0;
}

.container.visible {
    opacity: 1;
}

.sentence {
    padding: 12px 10px;
    border-bottom: 1px solid #d4d4d4;
    text-align: left;
    font-size: 0.9rem;
}

.sentence:last-child {
    border-bottom: none;
}


.created {
    color: #bdbdbd;
    font-size: 90%;
    float: right;
    margin: 0 0 0 14px;
    transition-duration: 0.2s;
}


@media only screen and (min-width: 48em) {
    .container {
        padding: 0 4px;
    }

    .sentence {
        padding: 15px 0;
        border-bottom: 1px solid #f0edea;
    }


    .created {
        float: none;
        margin: 0 0 6px;
        position: relative;
        display: inline-block;
    }

    .created::before {
        width: calc(100% + 2px);
        height: 15px;
        background-color: #fff7e7;
        position: absolute;
        display: block;
        content: "";
        z-index: -1;
        margin: 4px 2px;
        transform: skew(0deg, -6deg);
        transition-duration: 0.2s;
    }
    
    .created:hover {
        cursor: help;
        color: #fff;
        margin: 0 -4px 6px;
        border-right: 4px solid transparent;
    }
    
    .created:hover::before {
        background-color: #669df9;
        transform: skew(0);
        width: calc(100% + 6px);
        height: 20px;
        margin: 0px calc(50% - 3px);
        left: -50%;
    }
}

