.container {
    margin: 24px auto 0;

    font-family: 'Lato', sans-serif;
}

.sentence {
    padding: 12px 10px;
    border-bottom: 1px solid #d4d4d4;
    text-align: left;
    font-size: 0.9rem;
}

.sentence:last-child {
    border-bottom: none;
}


.created {
    color: #bdbdbd;
    font-size: 90%;
    float: right;
    margin: 0 0 0 14px;
}


@media only screen and (min-width: 48em) {
    .container {
        padding: 0 4px;
    }

    .sentence {
        padding: 15px 0;
        border-bottom: 1px solid #f0edea;
    }

    .created {
        float: none;
        margin: 0 0 6px;
        display: inline-block;
    }
}

